! special colors
*.foreground:  #93a1a1
*.background:  #151515
*.cursorColor:  #93a1a1
! black
*.color0:      #002b36
*.color8:      #657b83
! red
*.color1:      #aa0000
*.color9:      #ff3333
! green
*.color2:      #008000
*.color10:     #88ff2f
! yellow
*.color3:      #b58900
*.color11:     #b58900
! blue
*.color4:      #6688ee
*.color12:     #9abbff
! magenta
*.color5:      #c71595
*.color13:     #ee55ee
! cyan
*.color6:      #2aa198
*.color14:     #2aa198
! white
*.color7:      #93a1a1
*.color15:     #fdf6e3

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt*depth: 32
URxvt.background: [95]#151515

URxvt.font: xft:PT Mono:pixelsize=15
URxvt.letterSpace: 0

*antialias:  true
*autohint:   true

urxvt.urgentOnBell: true
